th, td {

    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.1);
  }

  table img
  {
    max-width: 100px;
  }
.movie {
    position: relative;
}
.movie>img {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0,0.5);

}

#filtering {
    display: flex;
    margin: auto;
    flex-grow: 1;
    
}

#filtering * {
    text-shadow: none;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    background: rgba(255,255,255,0.8);
    color: black !important;
}

#search {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-width: 70%;
    margin-left: auto;
}

#genreFilter {
    min-width: 10%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: auto;
}

.heartButton:hover{
    font-weight: normal;
}